@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.custom-container {
  width: 90%;
  margin: auto;
}

#andyz_banner {
  padding: 50px 0;
  background: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(63%, white), color-stop(63%, #B55BE9));
  background: linear-gradient(90deg, white 63%, #B55BE9 63%);
}

#andyz_banner img {
  width: 80%;
}

#andyz_banner img.top_logo {
  width: 300px;
  margin: auto;
  margin-bottom: 100px;
}

#andyz_banner p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: justify;
  width: 80%;
  color: #421841;
  margin-bottom: 150px;
}

#andyz_deliverables {
  background: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #421841), color-stop(15%, white));
  background: linear-gradient(90deg, #421841 15%, white 15%);
}

#andyz_deliverables .computer_image {
  width: 100%;
}

#andyz_deliverables h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 5rem;
  text-align: justify;
  color: #B55BE9;
}

#andyz_responsive {
  padding: 50px 0;
}

#andyz_responsive img {
  width: 60%;
}

#andyz_responsive img.computer_image {
  width: 100%;
}

#andyz_responsive p {
  width: 50%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: justify;
  color: #421841;
}

#andyz_footer {
  padding-bottom: 50px;
}

#andyz_footer img {
  width: 250px;
}

@media only screen and (max-width: 600px) {
  #andyz_banner {
    padding: 50px 0;
    background: white;
  }
  #andyz_banner img {
    width: 100%;
  }
  #andyz_banner img.top_logo {
    width: 150px;
    margin: auto;
    margin-bottom: 50px;
    background: none;
  }
  #andyz_banner p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    text-align: justify;
    width: 100%;
    color: #421841;
    margin-bottom: 25px;
  }
  #andyz_deliverables {
    background: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(15%, #421841), color-stop(15%, white));
    background: linear-gradient(90deg, #421841 15%, white 15%);
  }
  #andyz_deliverables .deliverables_bg {
    width: 80%;
  }
  #andyz_deliverables .computer_image {
    width: 100%;
  }
  #andyz_deliverables h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    text-align: justify;
    color: #B55BE9;
    margin-top: -60%;
  }
  #andyz_responsive {
    padding: 50px 0;
  }
  #andyz_responsive img {
    width: 100%;
  }
  #andyz_responsive img.computer_image {
    width: 100%;
  }
  #andyz_responsive p {
    width: 100%;
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    text-align: justify;
    color: #421841;
  }
  #andyz_footer {
    padding-bottom: 50px;
  }
  #andyz_footer img {
    width: 150px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1204px) {
  #andyz_banner {
    padding: 50px 0;
    background: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(65%, white), color-stop(65%, #B55BE9));
    background: linear-gradient(90deg, white 65%, #B55BE9 65%);
  }
  #andyz_banner img {
    width: 80%;
  }
  #andyz_banner img.top_logo {
    width: 150px;
    margin: auto;
    margin-bottom: 50px;
  }
  #andyz_banner p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: justify;
    width: 100%;
    color: #421841;
    margin-bottom: 50px;
  }
  #andyz_deliverables {
    background: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(15%, #421841), color-stop(15%, white));
    background: linear-gradient(90deg, #421841 15%, white 15%);
  }
  #andyz_deliverables .computer_image {
    width: 100%;
  }
  #andyz_responsive {
    padding: 50px 0;
  }
  #andyz_responsive img {
    width: 80%;
  }
  #andyz_responsive img.computer_image {
    width: 100%;
  }
  #andyz_responsive p {
    width: 80%;
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: justify;
    color: #421841;
  }
  #andyz_footer {
    padding-bottom: 50px;
  }
  #andyz_footer img {
    width: 150px;
  }
}
/*# sourceMappingURL=andyzfc_style.css.map */