#map_holder{
    background: #141414;
    padding: 100px 0;
    .map_holder{
        position: relative;
        .map_image{
            width: 100%;
            position: relative;
            animation: 5s mapscale linear infinite;

        }
        .map_marker_image{
            width: 96%;
            position: absolute;
            top: -5px;
            left: 45px;
            &.animated{
                animation: 2s markerbounce ease-in-out;
            }
        }
    }
}

@keyframes markerbounce {
    0%{
        top: 0px;
    }
    50%{
        top:-100px
    }
    100%{
        top:-5px
    }

}
@keyframes mapscale {
    0%{
        transform: scale(1);
    }
  
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }

}
