.popular-articles {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.mini-card-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mini-card {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 10px;
}

.display-none {
  display: none;
}

.slidein-animation {
  animation-name: slide2;
  animation-duration: 1s;
}

@keyframes slide2 {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}

.slideout-animation {
  animation-name: slide4;
  animation-duration: 1s;
}

@keyframes slide4 {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}

.text-header {
  position: relative;
}

.text h3,
.text p {
  color: #fff !important;
}

.mini-card:focus-within {
  -webkit-transform: translate(0, -1rem);
  transform: translate(0, -1rem);
}

.mini-card:focus-within ~ .mini-card {
  -webkit-transform: translateX(130px);
  transform: translateX(130px);
}

.text {
  padding: 1rem 2rem;
  width: 80%;
  height: 200px;
  margin-left: 10%;
  text-align: center;
  z-index: 1;
  display: block;
  font-size: 18px;
}

@media screen and (max-width: 1200px) {
  .mini-card {
    width: 380px;
    height: 450px;
  }

  .mini-card:hover ~ .mini-card {
    -webkit-transform: translateX(130px);
    transform: translateX(130px);
  }
}

@media screen and (max-width: 800px) {
  .mini-card {
    width: 220px;
    height: 330px;
  }

  .text {
    padding: 1rem 2rem;
    width: 80%;
    height: 200px;
    left: -50%;
    text-align: center;
    z-index: 1;
    display: block;
    font-size: 18px;
  }

  .mini-card:hover {
    -webkit-transform: translate(0, -1rem);
    transform: translate(0, -1rem);
  }

  .mini-card:hover ~ .mini-card {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
}
